.box3 {
    height: 100%;
    width: 100%;
    background-image: url(../../../public/img/principal.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0px;
  }