.container{
    display: flex;
    justify-content: end;
    font-size: 20px;
    color: white;
}

.badge{
    background-color: #f29a2e;
    color: white;
    padding: 0px 5px;
    text-align: center;
    border-radius: 10px;
}

