@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

.box3 {
    height: 100%;
    width: 100%;
    background-image: url(../../../public/img/principal.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .menu {
    background-color: rgba(0, 0, 0, 0.514);
    font-family: "Karla", sans-serif;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
  }

  .item {
    height: 80%;
    width: 250px;
    /*border: 2px solid #0d0d0d;*/
    margin: 20px;
    /*box-shadow: 2px 2px 5px #73412f;*/
    border-radius: 5px;
  }
  .item:hover {
    transform: scale(1.15);
    transition: all 0.9s;
  }
  h1{
    color: #f2f2f2;
    font-family: "Karla", sans-serif;
  }

  .item1 {
    background-image: url(../../../public/img/Menu1.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .item2 {
    background-image: url(../../../public/img/Menu2.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .item3 {
    background-image: url(../../../public/img/Menu3.jpeg);
    background-size: cover;
    background-position: center;
  }
  
  .item4 {
    background-image: url(../../../public/img/Menu4.jpeg);
    background-size: cover;
    background-position: center;
  }