.navbar {
    min-height: 56px;
    background: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 1) 0%,
      rgba(92, 29, 29, 1) 43%,
      rgba(242, 154, 46, 1) 100%
    );
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid orange;
  }

.navbar__menus{
      display: flex;
      align-items: center;

  }
  
.navbar__menu{
      margin-left: 16px;
      margin-right: 16px;
      height: 32px;
      min-width: 48px;
      font-weight: bold;
  }
  
  